:scope {
	--gutter: 8px;
	--speed: 150ms;
}
.gallery {
	--width: 600px;
	--height: 300px;
	width: var(--width);
	margin: auto;
}
.gallery:not(.gallery--active) > * {
	display: none;
}
.gallery .gallery__lens {
	display: flex;	
	align-items: center;
	justify-content: center;
	height: var(--height);
}
.gallery .gallery__lens .gallery__item {
	overflow: hidden;
	display: none;
	align-items: center;
	justify-content: center;
	height: var(--height);
}
.gallery .gallery__lens .gallery__item.gallery__item--active {
	display: flex;	
	width: 100%:;
	opacity: 0;
	animation: item var(--speed) ease-out forwards;
}
.gallery .gallery__controlls {
	box-sizing: border-box;
	padding: calc(var(--gutter) * 2);
	text-align: center;
}
.gallery .gallery__controlls .gallery__index.gallery__index--active {
	background: salmon;
}
@keyframes item {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}