$gutter: 16px;
$base-size: 480px;
$bullet-size: 16px;
$speed: 200ms;
$gray: #F6F6F6;
.Gallery {
  overflow: hidden;
  position: relative;
  max-width: $base-size;
  margin: auto;
  border: 1px solid $gray; 
  font-family: Arial, sans-serif;
  * {
    box-sizing: border-box;
    user-select: none;
    outline: none;
  }
  &__counter {
    position: absolute;
    top: $gutter;
    right: $gutter;
    padding: ($gutter / 4) ($gutter / 2);
    background-color: black;
    font-size: 0.8em;
    color: white;
  }
  &__view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $base-size;
    padding: 0;
    margin: 0;
    background-color: $gray;
    list-style-type: none;
    cursor: ew-resize;
  }
  &__item img {
    display: block;
    max-width: 100%;
    max-height: $base-size;
    object-fit: contain;
    pointer-events: none;
  }   
  &__controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gutter;
    button {
      padding: 0;
      border: 0;
      background: none;
      &:not([disabled]) {
        cursor: pointer;
      }
    }
  }
  &__prev svg, 
  &__next svg {
    display: block;
    path {
      fill: darken($gray, 25%);
    }   
  }
  &__nav {
    --tx: 1; 
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: calc(#{$bullet-size + $gutter} * 3);
    padding: 4px 0;
    margin: 0 $gutter;
    border-radius: $gutter;
  }
  &__index {
    display: inline-flex;
    align-items: center;
    margin: 0 calc(#{$gutter} / 2);
    transition: transform #{$speed} ease-out;
    transform: translateX(calc(((100% + #{$gutter}) * var(--tx)) * -1));
    &:before {
      content: '';
      width: $bullet-size;
      height: $bullet-size;
      background: darken($gray, 10%);
      border-radius: 50%;
      opacity: 0.4;
      transition: transform $speed ease-out, opacity $speed ease-out;
    }
    &[disabled]::before {
      opacity: 1;
      transform: scale(1.3);
    }
    &:hover::before {
      opacity: 1;
    }
  }
}